/* ----------Carousel---------- */

.carousel-item{
    height: 25rem;
    background: #777;
    color: white;
    position: relative;
    
}

.carousel-text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px;
    
}

.overlay-image {
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}